apiVersion: v1
kind: PersistentVolume
metadata:
  name: redis-pv
spec:
  capacity:
    storage: {{ .Values.redis.storage.size }}
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/redis-data
