apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.redis.name }}
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.redis.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.redis.name }}
    spec:
      securityContext:
        runAsNonRoot: {{ .Values.redis.securityContext.runAsNonRoot }}
        runAsUser: {{ .Values.redis.securityContext.runAsUser }}
      containers:
      - name: redis
        image: "{{ .Values.redis.image }}:{{ .Values.redis.tag }}"
        ports:
        - containerPort: {{ .Values.redis.port }}
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: REDIS_PASSWORD
        volumeMounts:
        - mountPath: /data
          name: redis-data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc
